@font-face {
  src: url("~@UI/assets/fonts/Fuckenusername-Regular.ttf") format("truetype");
  font-family: "fucken";
  font-weight: normal;
}
@font-face {
  src: url("~@UI/assets/fonts/FuckenusernameMi2-Regular.ttf") format("truetype");
  font-family: "fuckru";
  font-weight: normal;
}
@font-face {
  src: url("~@UI/assets/fonts/IndieFlower-Regular.ttf") format("truetype");
  font-family: "IndieFlower";
  font-weight: normal;
}
